<header>
<!--NavBar from bootstrap -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WeatherCastApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Hi {{user.username}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add to Favourite</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Sign In</a>
          </li>
        {% endif %}
      </ul>
      <form class="d-flex" method="GET" role="search">
        <input class="form-control me-2" name="city" type="search" placeholder="City Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search by name</button>
      </form>
      <form class="d-flex" method="GET" role="search">
        <input class="form-control me-2" name="lat" type="search" placeholder="Latitude" aria-label="Search">
        <input class="form-control me-2" name="lon" type="search" placeholder="Longtitude" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--End Navbar-->
</header>
